[Unit]
Description=Record SMART power cycle values
After=systemd-suspend.service hybrid-sleep.target systemd-hibernate.service systemd-suspend-then-hibernate.service systemd-resume.service

[Service]
Type=oneshot
ExecStart=/opt/diskwatcher/diskwatcher_fetcher
TimeoutStartSec=0
RemainAfterExit=no

[Install]
WantedBy=multi-user.target hybrid-sleep.target suspend.target hibernate.target suspend-then-hibernate.target resume.target
